/* Global */
.container {
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: "Josefin Sans", sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

p,
li {
  font-family: "Roboto", sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

img {
  width: 100%;
}

/* Start Navbar */
header {
  padding: 20px 25px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 2;
  transition: 0.8s;
}

header.fixed {
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

header .logo img {
  width: 132px;
}

.navbar {
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.menu__toggler {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 35px;
  color: #ff2020;
  cursor: pointer;
}

.navbar .menu {
  flex-direction: column;
  gap: 20px;
  max-height: 1500px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.navbar .menu.close {
  max-height: 0;
}

.navbar .menu>li {
  position: relative;
  cursor: pointer;
  padding: 0 25px;
}

.navbar .menu>li:first-child {
  padding-top: 30px;
}

.navbar .menu>li:last-child {
  padding-bottom: 30px;
}

.navbar .menu li .fa-plus {
  font-size: 13px;
}

.navbar .menu li .sub__menu {
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  text-indent: 20px;
  max-height: 1500px;
  transition: 0.5s;
  overflow: hidden;
}

.navbar .menu li ul.sub__menu.close {
  max-height: 0;
  margin-top: 0px;
}

.navbar .menu li::after {
  display: none;
}

header .right__icons {
  position: absolute;
  right: 25px;
  bottom: -40px;
  gap: 20px;
  font-size: 20px;
}

header .right__icons li {
  cursor: pointer;
}

/* Start Hero */
.hero {
  min-height: 400px;
  background-color: #f0f0f2;
  overflow: hidden;
}

.hero .hero__content {
  overflow: hidden;
}

.hero .hero__content .hero__title {
  position: relative;
  color: #0b1c39;
  font-size: 33px;
  line-height: 1.2;
  margin-bottom: 18px;
  animation: fading-slide-in 1s;
}

.hero .hero__content .hero__desc {
  position: relative;
  color: #212025;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 18px;
  animation: fading-slide-in 1s 0.1s;
}

.hero .hero__btn {
  position: relative;
  background-color: #4a4a4b;
  margin-top: 26px;
  animation: fading-slide-in 1s 0.2s;
}

.hero .hero__btn::before {
  background-color: #ff2020;
}

.hero .hero__img {
  display: none;
  position: relative;
  animation: pulse 1s infinite alternate;
}

/* Start New Arrivals */
.new-arrivals {
  margin: 120px 0;
}

.new-arrivals .new-arrivals__title {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
}

.new-arrivals .new-arrivals__products {
  justify-content: center;
  grid-template: auto / auto;
  text-align: center;
  gap: 20px;
}

.new-arrivals .new-arrivals__products .new-arrivals__product .new-arrivals__product__title a {
  display: block;
  width: 100%;
  color: #444444;
  font-weight: 700;
  font-size: 18px;
  margin: 20px 0 12px 0;
}

.new-arrivals .new-arrivals__products .new-arrivals__product .new-arrivals__product__img {
  overflow: hidden;
}

.new-arrivals .new-arrivals__products .new-arrivals__product .new-arrivals__product__img:hover img {
  transform: scale(1.04);
  transition: 0.4s ease-out;
}

.new-arrivals .new-arrivals__products .new-arrivals__product .new-arrivals__product__price {
  color: #ff2020;
  font-size: 18px;
  font-weight: 500;
  display: block;
}

/* Start Gallery */
.gallery {
  min-height: 700px;
  display: grid;
  grid-template-columns: 1;
  grid-gap: 30px;
  margin: 40px 0;
}

.gallery .gallery__item {
  overflow: hidden;
  position: relative;
}

.gallery .gallery__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 10, 28, 0.3);
  z-index: 1;
  opacity: 0;
  transition: all 0.3s linear;
}

.gallery .gallery__item:hover::before {
  opacity: 1;
}

.gallery .gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.03);
  transition-timing-function: linear;
}

.gallery .gallery__item:hover img {
  transform: scale(1);
}

/* Start Popular Items */
.popular {
  text-align: center;
  margin: 150px 0;
}

.popular .popular__header {
  margin: auto;
}

.popular .popular__header .popular__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.popular .popular__header .popular__desc {
  color: #777;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
}

.popular .popular__products {
  margin-top: 60px;
  grid-template-columns: auto;
  gap: 50px;
}

.popular .popular__products .popular__product .popular__product__body {
  position: relative;
}

.popular .popular__products .popular__product .popular__product__body .fa-heart {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
}

.popular .popular__products .popular__product .popular__product__body:hover .fa-heart {
  opacity: 1;
}

.popular .popular__products .popular__product .popular__product__body .popular__btn {
  font-size: 16px;
  text-transform: none;
  padding: 0;
  border-bottom: 3px solid #ff2020;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
}

.popular .popular__products .popular__product .popular__product__body:hover .popular__btn {
  height: 15%;
  max-height: 1000px;
  padding: 12px 0;
}

.popular .popular__products .popular__product .popular__product__body .popular__btn:hover::before {
  display: none;
}

.popular .popular__products .popular__product .popular__product__title {
  color: #444444;
  font-weight: 700;
  font-size: 20px;
  margin: 15px 0;
}

.popular .popular__products .popular__product .popular__product__price {
  color: #444444;
  font-size: 20px;
}

.popular .popular__more__btn {
  margin: auto;
  margin-top: 50px;
  width: 250px;
}

/* Start Footer */
footer {
  padding-bottom: 60px;
}

footer .footer__cols {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

footer .footer__cols .footer__logo {
  width: 150px;
  margin-bottom: 40px;
}

footer .footer__cols p {
  color: #868c98;
  font-size: 16px;
  line-height: 1.8;
}

footer .footer__cols h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

footer .footer__cols ul li {
  margin-bottom: 10px;
}

footer .footer__cols ul li a {
  color: #868c98;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

footer .footer__cols ul li:hover a {
  display: block;
  margin-left: 8px;
  color: #ff2020;
}

footer .footer__copy__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .footer__copy__right p {
  color: #888888;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 20px;
}

footer .footer__copy__right p .fa-heart,
footer .footer__copy__right p a {
  color: #ff2020;
}

footer .footer__social a {
  margin: 0 8px;
  font-size: 15px;
  transition: 0.1s;
}

footer .footer__social a:hover {
  color: #ff2020;
}

/* Start Media Queries
********************************************************/
@media screen and (min-width: 576px) {

  /* Start Utilities */
  .container {
    max-width: 550px;
  }

  /* Start Hero */
  .hero .hero__btn {
    margin-top: 0;
  }

  /* Start New Arrivals */
  .new-arrivals .new-arrivals__products {
    grid-template: auto / auto auto;
  }

  /* Start Gallery */
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .gallery .gallery__item:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
  }

  .gallery .gallery__item:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
  }

  .gallery .gallery__item:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
  }

  .gallery .gallery__item:nth-child(4) {
    grid-column: 2 / span 1;
    grid-row: 4 / span 2;
  }

  /* Start Popluar Items */
  .popular .popular__products {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Start Footer */
  footer .footer__cols {
    grid-template-columns: 1fr 1fr;
  }
}

/* Styles for tablet and above screens */
@media screen and (min-width: 768px) {

  /* Start Utilities */
  .container {
    max-width: 765px;
  }

  /* Start Navbar */
  header .right__icons {
    top: 50%;
    right: 120px;
    bottom: unset;
    transform: translateY(-50%);
  }

  header .right__icons a:hover {
    color: #ff2020;
  }

  /* Start Hero */
  .hero .hero__content .hero__title {
    font-size: 50px;
    font-weight: 700;
  }

  .hero .hero__img {
    display: block;
  }

  /* Start New Arrivals */
  .new-arrivals .new-arrivals__title {
    font-size: 48px;
  }

  .new-arrivals .new-arrivals__products {
    grid-template: auto / auto auto auto;
  }

  .new-arrivals .new-arrivals__products .new-arrivals__product .new-arrivals__product__title a {
    font-size: 24px;
  }

  /* Start Popular Items  */
  .popular .popular__header {
    max-width: 83.333333%;
  }

  .popular .popular__products .popular__product .popular__product__title {
    font-size: 24px;
  }

  .popular .popular__products .popular__product .popular__product__price {
    font-size: 18px;
  }

  /* Start Footer */
  footer .footer__cols {
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer .footer__copy__right {
    flex-wrap: nowrap;
  }

  footer .footer__copy__right p {
    margin-bottom: 0;
  }

  footer .footer__social a {
    font-size: 18px;
  }
}

/* Styles for desktop and above */
@media screen and (min-width: 992px) {

  /* Start Utilities */
  .container {
    max-width: 960px;
  }

  /* Start Navbar */
  header {
    padding: 20px 45px;
  }

  .menu__toggler {
    display: none;
  }

  .navbar {
    position: static;
    transform: translate(0%);
    padding: 23px 20px;
    display: flex;
    justify-content: center;
  }

  .navbar .menu {
    flex-direction: row;
    gap: 0;
    overflow: visible;
  }

  .navbar .menu.close {
    max-height: 1500px;
  }

  .navbar .menu>li:hover {
    color: #ff2020;
  }

  .navbar .menu>li:first-child {
    padding-top: 0;
  }

  .navbar .menu>li:last-child {
    padding-bottom: 0;
  }

  .navbar .menu li a,
  .navbar .menu li span {
    font-family: "Josefin Sans", sans-serif;
  }

  .navbar .menu .fa-plus,
  .navbar .menu .fa-minus {
    display: none;
  }

  .navbar .menu li .sub__menu {
    padding: 20px 0;
    min-width: 180px;
    position: absolute;
    top: 210%;
    left: 0;
    background-color: white;
    border-top: 2px solid #ff2020;
    border-radius: 10px;
    overflow: visible;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  }

  .navbar .menu li.sub__menu__toggler:hover .sub__menu {
    visibility: visible;
    opacity: 1;
  }

  .navbar .menu li .sub__menu::before {
    content: "";
    display: block;
    width: 5px;
    border: 8px solid #ff2020;
    border-bottom-color: #fff;
    border-top-color: #fff;
    border-right-color: #fff;
    position: absolute;
    top: -20px;
    left: 25px;
    transform: rotate(-90deg);
  }

  .navbar .menu li ul.sub__menu.close {
    max-height: 1500px;
  }

  .navbar .menu li ul.sub__menu li a {
    color: #0b1c39;
  }

  .navbar .menu li ul.sub__menu li a:hover {
    color: #ff2020;
  }

  .navbar .menu li::after {
    display: block;
  }

  header .right__icons {
    position: static;
    transform: none;
  }

  /* Start Hero */
  .hero .hero__content .hero__title {
    font-size: 60px;
  }

  .hero .container {
    justify-content: space-between;
  }

  .hero .hero__img {
    width: 50%;
    right: -100px;
  }

  /* Start Gallery */
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .gallery .gallery__item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .gallery .gallery__item:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .gallery .gallery__item:nth-child(3) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }

  .gallery .gallery__item:nth-child(4) {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
  }

  /* Start Popular Items  */
  .popular .popular__products {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* Start Footer */
  footer .footer__cols {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Style for large screens */
@media screen and (min-width: 1200px) {

  /* Start Utilities */
  .container {
    max-width: 1170px;
  }

  /* Start Hero */
  .hero .hero__content .hero__title {
    font-size: 96px;
  }

  .hero .hero__img {
    right: -60px;
  }

  /* Start New arrivals */
  .new-arrivals .new-arrivals__products {
    grid-template: auto / auto auto auto;
  }

  /* Start Popular Items */
  .popular .popular__header {
    max-width: 58.333333%;
  }
}

/* Start Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes fading-slide-in {
  0% {
    left: -100%;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}